@inherits ContextMenuBase

@namespace BlazorContextMenu

<div @attributes="@Attributes" class="@Classes" id="@Id" style="@PositionStyles" data-autohide="@AutoHide.ToWeb()" data-autohideevent="@AutoHideEvent.ToWeb()">
    @if (IsShowing)
    {
        <ul class="@ListClassCalc">
            <CascadingValue Value="(MenuTreeComponent)this" Name="ParentComponent">
                <CascadingValue Value="@Template" Name="CascadingTemplate">
                    <CascadingValue Value="@Animation" Name="CascadingAnimation">
                        @{
                            MenuRenderingContext context = new(Id, TargetId, X, Y, Trigger, Data);
                            @ChildContent(context)
                        }
                    </CascadingValue>
                </CascadingValue>
            </CascadingValue>
        </ul>
    }
</div>

@code
{
    [Parameter]
    public RenderFragment<MenuRenderingContext> ChildContent { get; set; }
    
    private new string Template => base.Template ?? CascadingTemplate;

    private new Animation? Animation => base.Animation ?? CascadingAnimation;
}