@inherits ContextMenuBase

@namespace BlazorContextMenu

<div @attributes="@Attributes" class="@Classes" id="@Id" style="@PositionStyles" data-autohide="@AutoHide.ToWeb()">
    @if (IsShowing)
    {
        <ul class="@ListClassCalc">
            <CascadingValue Value="(MenuTreeComponent)this" Name="ParentComponent">
                <CascadingValue Value="@Template" Name="CascadingTemplate">
                    <CascadingValue Value="@Animation" Name="CascadingAnimation">
                        @ChildContent
                    </CascadingValue>
                </CascadingValue>
            </CascadingValue>
        </ul>
    }
</div>

@code
{
    #region Parameters

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    #endregion

    #region Properties

    private new string Template => base.Template ?? CascadingTemplate;

    private new Animation? Animation => base.Animation ?? CascadingAnimation;

    protected override string BaseClass => "blazor-context-submenu blazor-context-menu__wrapper";

    #endregion

    #region Overrides

    protected override void OnInitialized()
    {
        if (Id.IsNullOrEmpty())
            Id = Guid.NewGuid().ToString();
        
        base.OnInitialized();
    }

    #endregion
}